@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$height: 50px;

body {
    font-family: 'Roboto', sans-serif;
}

.wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.select {
    width: 540px;
    height: $height;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;

    &.open {

        .select {
            border-bottom: none;
        }

        .select__dropdawn {
            display: block;
        }
    }

    &__input {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        cursor: pointer;
    }

    &__dropdawn{
        display: none;
        max-height: 240px;
        position: absolute;
        top: $height;
        overflow-y: auto;
        border: 1px solid #cecece;
        border-radius: 5px;
        left: 0;
        right: 0;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
        padding: 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        padding: 1rem;
        border-bottom: 1px solid #cecece;
        transition: .1s all ease-out;
        cursor: pointer;

        &.selected {
            background-color: bisque;
        }

        &:hover {
            background-color: lemonchiffon;
        }
    }
}




::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}



::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
  }